

html{
    background-color: #52D8E2
    ;
}

.calculadora{

    background-color: white;
    width: 60%;
    height: 70vh;
    margin-left: 22%;
    margin-top: 8%;
    border-radius: 13px;
    position: relative;
}

.botones{
    
    width:50%;
    height:70vh;
    border-radius: 13px;
}



.totales{

    background-color: #2A52A3;
    width:45%;
    height: 59vh;
    margin-left:50%;
    margin-top:-59vh;
    border-radius: 13px;
    position:absolute
}
.montos{
    
    width:100%;
    height:20vh;
    border-top-left-radius: 13px;
    padding-top: 3%;
}
.propinas{

    width:50%;
    height:20vh;
    padding-top: 0%;
    margin-top:-30vh
}
.personas{

    width: 100%;
    height:22vh;
    padding-top: 3px;
    border-radius: 13px;
    margin-top: 3vh;
}












.monto{
height:8vh;
width: 80%;
margin-left:10%;
border-radius: 8px;
background-color: #ebecee;
border:none;
font-size: 22px;

}
.per{
height:8vh;
width: 80%;
margin-left:10%;

border-radius: 8px;
background-color: #EAEBED;
border:none;
font-size: 22px;


}
.uno{
    
    width: 30%;
    height: 7vh;
    margin-left:3%;
    border-radius: 13px;
    border:none;
    background-color: #2A52A3;
    font-size:22px;
    font-family:'garamond';
    color:white;
    cursor:pointer;
    
}
.dos{
    width: 30%;
    height: 7vh;
    border-radius: 13px;
    border:none;
    background-color: #2A52A3;
    font-size:22px;
    font-family:'garamond';
    color:white;
    cursor:pointer

}
.tres{
    
    width: 30%;
    height: 7vh;
    border-radius: 13px;
    border:none;
    background-color: #2A52A3;
    font-size:22px;
    font-family:'garamond';
    color:white;
    cursor:pointer

}
.cuatro{
    
    width: 30%;
    height: 7vh;
    margin-left:3%;
    border-radius: 13px;
    border:none;
    background-color: #2A52A3;
    margin-top: 3%;
    font-size:22px;
    font-family:'garanmond';
    color:white;
    cursor:pointer
}
.cinco{
    
    width: 30%;
    height: 7vh;
    border-radius: 13px;
    border:none;
    background-color: #2A52A3;
    margin-top: 3%;
    font-size:22px;
    font-family:'garamond';
    color:white;
    cursor:pointer
}
.otro{
height:5vh;
width:30%;
border-radius: 8px;
margin-top: 5%;
font-size:22px;
font-family:'garamond';
background-color: #aeaeb4;
border:none;
color:gray;
cursor:pointer

}
.reset{
    height: 8vh;
    width:83%;
    background-color: white;
    margin-left:8%;
    border-radius: 8px;
    margin-top:8vh;
    font-family: 'garamond';
    font-size: 130%;
    font-weight: 800;
    background-color: #2AECCB;
    color:gray;
    border:none;
    cursor:pointer
}
.montoLetras{
margin-left: 13%;
font-family: 'garamond';
font-size: 130%;
font-weight: 800;
color:#84868b;
margin-top: 3vh;
width:22%

}
.propinasLetras{
    margin-left:13%;
    font-family:'garamond';
    font-size:130%;
    font-weight: 800;
    color:#84868b;
}
.personasLetras{
    margin-left:13%;
    font-family: 'garamond';
    font-size: 130%;
    font-weight: 800;
    color: #84868b;
    margin-top: -1vh
}
.totalPropinas{
    margin-left:8%;
    margin-top:8vh;
    font-family: 'garamond';
    font-size:22px;
    font-weight: 800;
    color:white;
    width:50%
}
.totalPersonas{
    margin-left:8%;
    margin-top:10vh;
    font-family:'garamond';
    font-size:22px;
    font-weight: 800;
    color:white;
    width:55%
}
.otro::-webkit-input-placeholder{
    text-align: center;
}
.monto::-webkit-input-placeholder{
    text-align:center
}
.per::-webkit-input-placeholder{
    text-align:center
}

.totalTexto{
    font-size: 50px;
    margin-left:60%;
    margin-top: -8vh;
    color:#2AECCB
}
.totalPorPersona{
    font-size: 50px;
    margin-left: 61%;
    margin-top:-8vh;
    color:#2AECCB
}
.uno:hover{
border:3px solid #2AECCB;

}
.dos:hover{
border:3px solid #2AECCB;

    }
.tres:hover{
border:3px solid #2AECCB;
}
.cuatro:hover{
border:3px solid #2AECCB;
    }





.cinco:hover{
border:3px solid #2AECCB;
}
.reset:hover{
border: 3px solid #2A52A3
}
.monto:focus{
    outline:none;
    border: 1px solid #52D8E2
}
.per:focus{
    outline:none;
    border:1px solid #52D8E2
}
.otro:focus{
    outline:none;

}
.validar{
    margin-left:20%;
    padding-top: 6vh;
    color:#52D8E2;
    position: absolute;
    display:none
}
.validarPersonas{
    margin-left:20%;
    padding-top: vh;
    color:#52D8E2;
    position:absolute;
    display:none
}
@media only screen and (max-width: 500px) {



    .calculadora{
        width:94%;
        margin-left:3%;
        height: 138vh
    }
    .totales{
        width:90%;
        margin-left:5%;
        margin-top: 22vh
    }
    .montoLetras{
        font-size:150%
    }
    .monto{
        width:160%;
    }
    




    .personasLetras{
        font-size: 150%;
    }
    .per{
        width:160%;
    }
    .propinasLetras{
        font-size: 150%;
    }
    
    
    .propinas{
        width:90%;
        height:8vh;
        margin-left: 3%;
    }
    .uno{
        width:30%
    }
    .dos{
        width:30%;
        
    }
    .tres{
        width:30%;
    }
    .cuatro{
        width:30%
    }
    .cinco{
        width:30%
    }
    .otro{
        width:30%;
        height: 7vh;
    }
}